body{
    height: 900px;
    background-color: #0E163B;
}

input{
    margin-top:25px;
    display: block;
    width: 100%;
    height: 45px;
    border-radius: 25px;
    border: 0;
    color: #1a212f;
    background: #ccc;
    transition: .3s ease;
    padding: 20px;
    
}
a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
    color: white;
}

.menu{
    text-decoration: none; 

}

.line{
    display: flex;
    flex-direction: row;
    padding: 20px;

}

.line h5, span{
    margin-left: 5px;
}

h2,a,p,h4,label,span{
    color: white;
    font-family: 'Roboto', sans-serif;
}

.box{
    margin: 0 auto;
    padding: 30px;
    width: 600px;
    border: 1px solid #ccc;
    border-radius: 25px;
    box-shadow: 1px 2px 8px black;

}